---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ChefImage from "../../public/assets/chef.png";
import InputText from "../components/InputText";
import Card from "../components/Card.astro";
import { CONTENT } from "../utils/constants";
---

<Layout title="Chef IA">
  <main>
    <div class="flex flex-col justify-items-center gap-10">
      <div class="flex m-auto items-center justify-center">
        <Image class="w-full md:w-1/3" src={ChefImage} alt="" />
        <Card content={CONTENT.chef.welcome} />
      </div>
      <InputText client:only="react" />
    </div>
  </main>
</Layout>
